<!DOCTYPE html>
<html lang="en">
<head>

  <!-- Basic Page Needs
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta charset="utf-8">
  <title>ChickConnect</title>
  <meta name="description" content="">
  <meta name="author" content="">

  <!-- Mobile Specific Metas
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <!-- FONT
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
  <link href="//fonts.googleapis.com/css?family=Raleway:400,300,600" rel="stylesheet" type="text/css">

  <!-- CSS
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
  <link rel="stylesheet" href="css/normalize.css">
  <link rel="stylesheet" href="css/skeleton.css">
  
  <style>
    .highlight {
      background-color: bisque;
    }
  </style>
  

  <!-- Favicon
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
  <link rel="icon" type="image/png" href="images/favicon.png">
  
  <!-- AngularJS
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
  <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular.min.js"></script>
  
</head>
<body>

  <!-- Primary Page Layout
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
  <div class="container" ng-app="myApp" ng-controller="myCtrl">
    <div class="row">
      <div class="ten columns" style="margin-top: 10%">
        <h3>Welcome mentee!</h3>
        <p>Tell us a bit about what you are interested in and we can help you find a mentor!</p>
      </div>
    </div>
   <form>
  <div class="row">
    <div class="four columns">
      <p>I'm interested in:</p>
      <div ng-repeat="interest in interests">
        <label class="interestLabel">
        <input type="checkbox">
          <span class="label-body">{{interest.interest}}</span>
        </label>
      </div>
    </div>
    <div class="four columns">
      <p>My personality type is:</p>
      <div ng-repeat="interest in interests">
        <label class="interestLabel">
        <input type="checkbox">
          <span class="label-body">{{interest.interest}}</span>
        </label>
      </div>
    </div>
        <div class="four columns">
      <p>My learning type is:</p>
      <div ng-repeat="interest in interests">
        <label class="interestLabel">
        <input type="checkbox">
          <span class="label-body">{{interest.interest}}</span>
        </label>
      </div>
    </div>
  </div>
  <input class="button-primary" type="submit" value="Submit">
</form>

  </div>
  
  <!-- Scrips below here
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
  
  <script>
    var app = angular.module('myApp', []);
    app.controller('myCtrl', function($scope) {
    
    $scope.interests=[
      {interest: 'Robotics'},
      {interest: 'Art'},
      {interest: 'Career Development'}
    ];
    $scope.interestsSelection=[];  
    //Toggle selection for interests
      $scope.interestsToggle = function interestsToggle(intr) {
        var idx = $scope.selection.indexOf(intr);
        
        if (idx > 1) {
          $scope.selection.splice(idx,1);
        } else {
          $scope.selection.push(intr);
        }
      };
  
  
    });
  </script>

<!-- End Document
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
</body>
</html>
