<!DOCTYPE html>
<html lang="en">
<head>

  <!-- Basic Page Needs
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta charset="utf-8">
  <title>ChickConnect</title>
  <meta name="description" content="">
  <meta name="author" content="">

  <!-- Mobile Specific Metas
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <!-- FONT
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
  <link href="//fonts.googleapis.com/css?family=Raleway:400,300,600" rel="stylesheet" type="text/css">

  <!-- CSS
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
  <link rel="stylesheet" href="css/normalize.css">
  <link rel="stylesheet" href="css/skeleton.css">
  
  <style>
    .highlight {
      background-color: bisque;
    }
  </style>
  

  <!-- Favicon
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
  <link rel="icon" type="image/png" href="images/favicon.png">
  
  <!-- AngularJS
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
  <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular.min.js"></script>
  
</head>
<body>

  <!-- Primary Page Layout
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
  <div class="container" ng-app="myApp" ng-controller="myCtrl">
    <div class="row">
      <div class="ten columns" style="margin-top: 10%">
        <h3>Welcome mentee!</h3>
        <p>Tell us a bit about what you are interested in and we can help you find a mentor!</p>
      </div>
    </div>
   <form>
    <div class="row">
      <div class="four columns">
        <p>I'm interested in:</p>
        <div ng-repeat="interest in interests">
          <label class="profileLable">
          <input type="checkbox" ng-checked="interestsSelection.indexOf(interest) > -1" ng-click="interestsToggle(interest)">
            <span class="label-body">{{interest}}</span>
          </label>
        </div>
      </div>
      <div class="four columns">
        <p>My personality type is:</p>
        <div ng-repeat="personality in personalities">
          <label class="profileLabel">
          <input type="checkbox">
            <span class="label-body">{{personality}}</span>
          </label>
        </div>
      </div>
      <div class="four columns">
        <p>My learning type is:</p>
        <div ng-repeat="learningType in learningTypes">
          <label class="profileLabel">
          <input type="checkbox">
            <span class="label-body">{{learningType}}</span>
          </label>
        </div>
      </div>
    </div>
  <input class="button-primary" type="submit" value="Submit">
</form>
<div class="row">
  <div class="ten columns">
    <div ng-repeat="interest in interestsSelection">
      {{interest}}
    </div>
  </div>
</div>
  
  <!-- Scrips below here
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
  
  <script>
    var app = angular.module('myApp', []);
    app.controller('myCtrl', function($scope) {
      $scope.interests=[
        'Robotics',
        'Art',
        'Career Development',
        'Academic Advice',
        'Science Project',
        'Web Development',
        'Math',
        '3D printing'
      ]; 
      $scope.personalities=[
        'Enthusiast',
        'Challenger',
        'Individualist',
        'Achiever',
        'Helper'
      ];
      $scope.learningTypes=[
        'Visual',
        'Auditory',
        'Tactile'
      ]; 
      $scope.interestsSelection=[];
      $scope.personalitiesSelection=[];
      $scope.learningTypesSelection=[];
      //Toggle selection for interests
      $scope.interestsToggle = function interestsToggle(intr) {
        var idx = $scope.interestsSelection.indexOf(intr);

        if (idx >= 0) {
          $scope.interestsSelection.splice(idx,1);
        } else {
          $scope.interestsSelection.push(intr);
        }
      };
      $scope.personalitiesToggle = function personalitiesToggle(intr) {
        var idx = $scope.personalitiesSelection.indexOf(intr);

        if (idx >= 0) {
          $scope.personalitiesSelection.splice(idx,1);
        } else {
          $scope.personalitiesSelection.push(intr);
        }
      };
      $scope.learningTypesToggle = function learningTypesToggle(intr) {
        var idx = $scope.learningTypesSelection.indexOf(intr);

        if (idx >= 0) {
          $scope.learningTypesSelection.splice(idx,1);
        } else {
          $scope.learningTypesSelectionn.push(intr);
        }
      };
  
    });
  </script>

<!-- End Document
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
</body>
</html>
